* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 5px;
}

.top-nav {
  background-color: black;
  color: white;
  font-size: small;
  padding-left: 10px;
}

.top-nav-right {
  float: right;
  position: relative;
  bottom: 25px;
  color: white;
  font-size: small;
  padding-right: 10px;
}

.nav-2 {
  font-size: small;
  padding-left: 10px;
}

.main {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: grey;
}

.art-1 {
  background-image: url(img/main-pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 545px;
  width: 2000px;
  color: white;
}

.art-2 {
  background-image: url(img/main-pic2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 1000px;
  color: white;
}

.art-3 {
  background-image: url(img/main-pic3.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  height: 300px;
  width: 1000px;
  color: white;
}

@media only screen and (max-width: 375px) {
}
